@use "../base/variables" as *;

.gallery {
  display: grid;

  &__list {
    display: grid;
    grid-template-columns: minmax(360px);
    grid-template-rows: minmax(360px);

    @media screen and (min-width: $bp-md) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (min-width: xxl) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }
  &__item {
    &--rect {
      @media screen and (min-width: $bp-md) {
        grid-column: span 2;
      }
    }

    &--rect img {
      min-height: 360px;

      object-fit: cover;
      @media screen and (min-width: $bp-md) {
        aspect-ratio: 2/1;
        min-height: auto;
      }
    }
  }
}

.desktop {
  display: none;

  @media screen and (min-width: $bp-md) {
    display: block;
  }
}
