@use "../base/variables" as *;

.gallery {
  display: grid;

  &__list {
    display: grid;
    grid-template-columns: minmax(360px, 1fr);
    grid-template-rows: minmax(360px, 1fr);

    @media screen and (min-width: $bp-md) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (min-width: xxl) {
      grid-template-columns: repeat(4, minmax(480px, 1fr));
      grid-template-rows: repeat(3, minmax(480px, 1fr));
    }
  }
  &__item {
    &--rect {
      @media screen and (min-width: $bp-md) {
        grid-column: span 2;
      }
    }

    &--rect img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.desktop {
  display: none;

  @media screen and (min-width: $bp-md) {
    display: block;
  }
}
